
#header {
    float=left;
    width=47.5%;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    float:left;
    line-height:30px;
    outline-width: 30px;
    background-color:#eeeeee;
    height:300px;
    width:5%;
    padding:5px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100%;
}
#section {
    width:28%;
    float:left;
    padding:10px;
    margin:5px;
    border:1px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
}
li:hover {
    background-color: #555;
    color: white;
}
p:hover {
    background-color: #555;
    color: white;
}
#footer {
    float=left;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
@media screen and (max-width: 600px){
    #nav {
    float:none;
    margin-right: 0;
    background-color:#eeeeee;
    height:10px;
    width:auto;
  
}
#section {
    width:80%;
    float:left;
    padding:10px;
    max-width: 300px;
    height:300px;
    margin:5px;
    padding:15px;
    border:1px solid black;
}

}
